@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: grey;
  }
}

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

